{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2> {{article.title}}</h2>
        <div class="metadata"> Dans la catégorie: {{ article.category.title }} </div>
        <div class="content">
            <img src="{{article.image}}" style="auto" alt="">
            <p> {{article.content | raw}}</p>
        </div>
    </article>
    <a href="{{ path('editArticle', {'id': article.id }) }}" class="btn btn-success">Modifier </a>
    <a href="{{ path('removeArticle', {'id': article.id }) }}" class="btn btn-primary">Supprimer </a>
    <a href="{{ path('blog') }}" class="btn btn-primary">Précédent </a>
{% endblock %}